*.class
*.jar
/.lein-*
/.nrepl-port
/.repl
/bin/
/checkouts/
/classes/
/lib/
/log/
/out/
/resources/public/js/compiled/**
/target/
figwheel_server.log
.idea/
pom.xml
pom.xml.asc
.settings/ccw.repl.cmdhistory.prefs
