Lionel Messi, parfois surnommé Leo Messi, né le 24 juin 1987 à Rosario, est un footballeur international argentin évoluant au poste d'attaquant au FC Barcelone.

Considéré comme l'un des plus grands joueurs de tous les temps, il est le seul footballeur à avoir remporté le Ballon d'or à cinq reprises. Auteur de plus de 500 buts et 200 passes décisives en carrière, il est le meilleur buteur de l'histoire du championnat d'Espagne, du FC Barcelone et de l'équipe d'Argentine. Il détient depuis 2012 le record mondial du nombre de buts inscrits sur une saison toutes compétitions confondues et le record de buts sur une saison dans un championnat européen. Il est aussi le seul footballeur à avoir terminé quatre fois consécutivement meilleur buteur de la Ligue des champions, et le premier joueur triple vainqueur du Soulier d'or européen. Il est enfin le deuxième meilleur buteur de l'histoire de la Ligue des champions après Cristiano Ronaldo.

Formé dans sa ville natale de Rosario au sein du club des Newell's Old Boys, il rejoint l'équipe junior du FC Barcelone à treize ans et signe son contrat professionnel en 2003. Il est depuis devenu le quatrième joueur le plus capé de l'histoire du club.

Avec trente deux titres remportés dont quatre Ligues des champions, huit championnats d'Espagne, cinq Coupes du Roi, sept Supercoupes d'Espagne, trois Supercoupes d'Europe, trois Coupes du monde des clubs, une médaille d'or aux Jeux olympiques de 2008 et une Coupe du monde des moins de 20 ans, il est le joueur le plus titré du FC Barcelone (avec Andrés Iniesta) et d'Argentine. Il est élu meilleur joueur de la Coupe du monde 2014 dont son équipe termine vice-championne. Il atteint également la finale de la Copa América en 2007, 2015 et 2016 mais n'a jamais remporté de titre en sélection. Il annonce publiquement sa retraite internationale après ce dernier échec avant de se raviser et de revenir afin de continuer à jouer les éliminatoires de la Coupe du monde 2018 avec l'Albiceleste.

Il fait partie du onze des meilleurs footballeurs de tous les temps établi par World Soccer, tandis que l'Equipe le désigne troisième meilleur joueur sud-américain de l'histoire. The Sun l'inclut dans l'équipe idéale de la première décennie du xxie siècle et l'IFFHS fait de lui le deuxième meilleur buteur du début du xxie siècle. Dix années consécutivement, de 2007 à 2016, il est présent dans le onze type de la FIFA et six fois consécutivement dans le onze type annuel de l'UEFA. Il est aussi désigné huit fois « footballeur argentin de l'année », cinq fois « meilleur joueur de l'année » en Espagne, ainsi que deuxième meilleur joueur de la Ligue des champions durant ces vingt dernières années après Zinédine Zidane.

Sa notoriété dépasse le monde du sport. Il est nommé trois fois dans le classement des personnalités les plus influentes de la planète par le magazine Time en 2011, 2012 et 2013 et est le premier footballeur de l'histoire à faire la une du magazine. Ambassadeur de l'UNICEF, il créé une fondation d'aide à l'enfance.