Lionel Messi, parfois surnommé Leo Messi, né le 24 juin 1987 à Rosario, est un footballeur international argentin évoluant au poste d'attaquant au FC Barcelone.

Considéré comme l'un des plus grands joueurs de tous les temps, il est le seul footballeur à avoir remporté le Ballon d'or à cinq reprises. Auteur de plus de 500 buts et 200 passes décisives en carrière, il est le meilleur buteur de l'histoire du championnat d'Espagne, du FC Barcelone et de l'équipe d'Argentine. Il détient depuis 2012 le record mondial du nombre de buts inscrits sur une saison toutes compétitions confondues et le record de buts sur une saison dans un championnat européen. Il est aussi le seul footballeur à avoir terminé quatre fois consécutivement meilleur buteur de la Ligue des champions, et le premier joueur triple vainqueur du Soulier d'or européen. Il est enfin le deuxième meilleur buteur de l'histoire de la Ligue des champions après Cristiano Ronaldo.

Formé dans sa ville natale de Rosario au sein du club des Newell's Old Boys, il rejoint l'équipe junior du FC Barcelone à treize ans et signe son contrat professionnel en 2003. Il est depuis devenu le quatrième joueur le plus capé de l'histoire du club.

Avec trente deux titres remportés dont quatre Ligues des champions, huit championnats d'Espagne, cinq Coupes du Roi, sept Supercoupes d'Espagne, trois Supercoupes d'Europe, trois Coupes du monde des clubs, une médaille d'or aux Jeux olympiques de 2008 et une Coupe du monde des moins de 20 ans, il est le joueur le plus titré du FC Barcelone (avec Andrés Iniesta) et d'Argentine. Il est élu meilleur joueur de la Coupe du monde 2014 dont son équipe termine vice-championne. Il atteint également la finale de la Copa América en 2007, 2015 et 2016 mais n'a jamais remporté de titre en sélection. Il annonce publiquement sa retraite internationale après ce dernier échec avant de se raviser et de revenir afin de continuer à jouer les éliminatoires de la Coupe du monde 2018 avec l'Albiceleste.

Il fait partie du onze des meilleurs footballeurs de tous les temps établi par World Soccer, tandis que l'Equipe le désigne troisième meilleur joueur sud-américain de l'histoire. The Sun l'inclut dans l'équipe idéale de la première décennie du xxie siècle et l'IFFHS fait de lui le deuxième meilleur buteur du début du xxie siècle. Dix années consécutivement, de 2007 à 2016, il est présent dans le onze type de la FIFA et six fois consécutivement dans le onze type annuel de l'UEFA. Il est aussi désigné huit fois « footballeur argentin de l'année », cinq fois « meilleur joueur de l'année » en Espagne, ainsi que deuxième meilleur joueur de la Ligue des champions durant ces vingt dernières années après Zinédine Zidane.

Sa notoriété dépasse le monde du sport. Il est nommé trois fois dans le classement des personnalités les plus influentes de la planète par le magazine Time en 2011, 2012 et 2013 et est le premier footballeur de l'histoire à faire la une du magazine. Ambassadeur de l'UNICEF, il créé une fondation d'aide à l'enfance.

Le 19 février, pour son 200e match de championnat avec le Barça, Lionel Messi est auteur d'un quadruplé face au FC Valence182. Le 7 mars, en huitième de finale retour de la Ligue des champions, Barcelone écrase le Bayer Leverkusen 7-1 au Camp Nou. Ce soir-là, Messi réussit le premier quintuplé de sa carrière et devient le premier joueur à le réaliser en Ligue des champions183,184. Le 20 mars face à Grenade, il devient le meilleur buteur en matchs officiels de l'histoire du Barça en inscrivant son 233e but, devant César Rodríguez185. Peu après il marque son 35e but de la saison en championnat, battant le record du FC Barcelone (Ronaldo, en 1996-1997)186. Le 3 avril, il inscrit contre l'AC Milan son 14e but en Ligue des champions, un record sur une saison187. Messi inscrit ensuite contre Getafe le 61e but de sa saison, record de l'histoire du football espagnol (il devance Isidro Lángara, auteur de 60 buts lors de la saison 1933-1934)188.

Malgré les nombreux buts de son no 10, le Barça est éliminé le 2 mai 2012 en demi-finale de la Ligue des champions par Chelsea, Messi tirant un pénalty sur la barre transversale, puis perd le Clásico en championnat (1-2). Messi poursuit son exceptionnelle série de buts. Il inscrit son 68e but de la saison contre Málaga, battant là le record européen de Gerd Müller datant de 1973189. Il porte ce soir-là, et pour la première fois en match officiel, le brassard de capitaine. Trois jours plus tard, il inscrit un quadruplé face à l'Espanyol Barcelone et devient le meilleur buteur de l'histoire du football mondial sur une seule saison, effaçant le record d'Archibald Stark datant de 1924-1925. Lors de ce même match, il devient le meilleur buteur dans un championnat européen sur une saison depuis la création du Soulier d'or en 1968 (50), et remporte logiquement le Soulier d'or pour la deuxième fois190,191.

Pour le dernier match de Josep Guardiola, après quatre ans à la tête du Barça, il remporte la Coupe du Roi en inscrivant le 2e but de la rencontre. Au total, il a inscrit 73 buts toutes compétitions confondues avec le club catalan au cours de la saison192,193. Sous les ordres de Guardiola pendant 4 ans, Messi inscrit 211 buts en 219 matchs et remporte quatorze titres. Il a de surcroît, marqué treize fois en quatorze finales194.

En Argentine, après la déception de la Copa América, Sergio Batista est limogé de son poste de sélectionneur. Alejandro Sabella, qui lui succède, déclare vouloir construire son équipe pour le Mondial 2014 autour de Messi, qu'il nomme capitaine195,196. Les éliminatoires de la Coupe du monde 2014 commencent et l'Argentine débute par deux victoires contre le Chili puis contre la Colombie197. En février, il signe le premier coup du chapeau de sa carrière en sélection face à la Suisse à Berne (3-1), où sa présence seule dope les ventes de billets198.

En fin de saison, Messi participe à un match amical face au Brésil, le 9 juin. Auteur d'un triplé, il permet à l'Argentine de l'emporter quatre buts à trois. Aucun joueur depuis l'Italien Paolo Rossi en 1982 n'avait inscrit trois buts au Brésil199. Il dépasse Luis Artime et devient le 4e meilleur buteur de l'histoire de l'Albiceleste. Avec sa sélection, il marque à douze reprises en 2012 et pendant six matchs consécutifs, deux records qu'il partage respectivement avec Gabriel Batistuta et Hernán Crespo200,201.